html{
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 100px; /* Pode ser ajustado ou removido se não for necessário */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    height: 100vh; /* Faz o contêiner ocupar toda a altura da tela */
    width: 100vw; /* Faz o contêiner ocupar toda a largura da tela */
    margin: 0; /* Remove margens */
}



h1 {
    display:flex ;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 10px 10px 5px 0px rgba(166, 11, 249, 0.501);

}

.formulario {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #2e2d4e;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    box-shadow: 10px 10px 5px 0px rgba(166, 11, 249, 0.501);



    & button {
        border-radius: 30px;
        background-color: #8b8ae1;
        height: 40px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
    }

    & button:hover {
        opacity: 0.5;
    }

    & input {
        border: 1px solid #2e2d4e;
        border-radius: 30px;
        height: 40px;
        background-color: #3e3653;
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
        text-transform: uppercase;
    }

    & label {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }
}

.card{

    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 19px;
    gap: 40px;
    box-shadow: 10px 10px 5px 0px rgba(166, 11, 249, 0.501);
    color: white;
}
.delete{
    display: flex ;
    justify-content: center;
    color: #000000;
    box-shadow: 10px 10px 5px 0px rgba(166, 11, 249, 0.501);
    width: 70%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 70%;
    border-radius: 10px;
    padding-top: 2%;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    
}

.delete:hover {
    opacity: 0.5;
    background-color: rgba(255, 0, 0, 0.89);
    box-shadow: 10px 10px 5px 0px rgb(250, 250, 250);
}

.buton_delte{
    display: flex;
    justify-content: center;
}

